name: Check formatting
on:
  push:
    branches: [main]
  pull_request:
    types: [opened, synchronize, reopened]
    branches:
      - '**'
      - '!release-please--**'
  merge_group:
jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Node.js
        uses: actions/setup-node@v6
        with:
          node-version: lts/*
          cache: 'npm'
      # Use npm@10 on Node 22+ due to https://github.com/npm/cli/issues/8489
      - name: Setup npm version
        run: npm install -g npm@10
      - name: Install dependencies
        run: npm ci
      - name: Check formatting
        run: npm run format:ci
