name: Test @netlify/nuxt
on:
  push:
    branches: [main]
  pull_request:
    types: [opened, synchronize, reopened]
    branches:
      - '**'
      - '!release-please--**'
  merge_group:
jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest, windows-latest]
        node-version: ['*']
        include:
          - os: ubuntu-latest
            node-version: '20.19.0'
      fail-fast: false
    steps:
      - run: git config --global core.symlinks true
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
      # Use npm@10 on Node 22+ due to https://github.com/npm/cli/issues/8489
      - name: Setup npm version
        run: npm install -g npm@10
        if: "${{ matrix.node-version == '*' }}"
      - name: Setup Deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: 2.5.6
      - name: Setup Deno dependencies
        run: deno cache https://deno.land/x/eszip@v0.55.2/eszip.ts
      - name: Install dependencies
        run: npm ci
      - name: Install playwright browsers
        run: npx playwright install --with-deps chromium
      - name: Build
        run: npm run build --workspaces
      - name: Lint
        run: npm run lint -w ./packages/nuxt-module
      - name: Typecheck
        run: npm run test:types -w ./packages/nuxt-module
      - name: Tests
        run: npm run test:ci -w ./packages/nuxt-module
