name: Publint
on:
  push:
    branches: [main]
  pull_request:
    types: [opened, synchronize, reopened]
    branches:
      - '**'
      - '!release-please--**'
  merge_group:
jobs:
  publint:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - run: git config --global core.symlinks true
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Node.js
        uses: actions/setup-node@v6
        with:
          node-version: lts/*
          cache: 'npm'
      # Use npm@10 on Node 22+ due to https://github.com/npm/cli/issues/8489
      - name: Setup npm version
        run: npm install -g npm@10
      - name: Setup Deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: 2.5.6
      - name: Install dependencies
        run: npm ci
      - name: Build
        run: npm run build --workspaces=true
      - name: Publint
        run: npm run publint --workspaces=true --if-present
