name: Publint
on:
  push:
    branches: [main]
  pull_request:
    types: [opened, synchronize, reopened]
    branches:
      - '**'
      - '!release-please--**'
  merge_group:
jobs:
  publint:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - run: git config --global core.symlinks true
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Node.js
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: 'npm'
      - name: Setup Deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: 2.2.4
      - name: Install dependencies
        run: npm ci
      - name: Build
        run: npm run build --workspaces=true
      - name: Publint
        run: npm run publint --workspaces=true --if-present
